<h1>Welcome#index</h1>

<div id='calendar'>foooo</div>

<div>
  <%= link_to 'Signin with Google', user_omniauth_authorize_path(:google_oauth2) %>
</div>
<div>
  <% if user_signed_in? %>
    <%= link_to 'Calendar', controller: 'calendar', action: 'index' %>
  <% end %>
</div>
