<h1>Welcome#index</h1>
<%= @set_event %>
<%= debug @set_event %>

<div>
  <% if user_signed_in? %>
    <%= link_to 'Calendar', controller: 'calendar', action: 'index' %>
  <% else %>
    <%= link_to 'Signin with Google', user_omniauth_authorize_path(:google_oauth2) %>
  <% end %>
</div>
