// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  // margin: 40px 10px;
  // padding: 0;
  // font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
  // font-size: 14px;
}

#calendar {
  // max-width: 900px;
  // margin: 0 auto;
  // .fc-view {
    // overflow-x: scroll;
    // border-collapse: collapse;
    // & table {
      // width: 900px;
      // overflow-x: scroll;
      // border-collapse: collapse;
    // }
  // }
  #cal-data {
    overflow-x: scroll;
    border-collapse: collapse;
  }

  // #cal-header {
  //   position: relative;
  //   #cal-header-axis {
  //     position: absolute;
  //   }
  //   #cal-header-column {
  //     position: absolute;
  //     overflow-x: scroll;
  //   }
  // }
  .fc-head {
    .fc-day-header {
      width: 120px;
      // position: absolute;
      // max-width: 100%;
      // min-width: 120px;
    }
  }

  .fc-body {
    .fc-day {
      width: 120px;
    }
  }
}
